@media (max-width: 768px) {
    body{
        overflow: hidden;
    }
    .container {
        max-width: 80%; /* Usa toda a largura disponível */
        padding: 1em;
    }
    .container p{
        font-size:.8em;
    }
    
    .container_header {
        padding: 0.1em;
        width: 100%;
    }

    .numeros li {
        font-size: 1.2em; /* Reduz o tamanho da fonte */
    }

    .result {
        padding: 0.8em;
    }
}

/* Para telas muito pequenas (ex.: < 480px) */
@media (max-width: 320px) {
    .container {
        border-radius: 1em;
        padding: 0.5em;
    }

    .container_header h1, 
    .container_header h2 {
        font-size: .9em;
    }

    .form_container > label {
        font-size: 1.2em;
    }

    .input_num, .btn_submit {
        font-size: 0.5em;
        max-width: 12em;
    }

    .numeros li {
        font-size: 0.1em;
    }
}